<div id="carouselExampleFade" class="carousel slide carousel-fade">
  <div class="carousel-inner">
    <div class="carousel-item d-item" *ngFor="let heroe of heroes; let i = index" [class.active]="i === 0">
      <div class="container-fluid">
        <img [src]="heroe.image" class="d-block w-100 d-img" alt="uno">
      <div class="carousel-caption top mt-4">
        <p class="mt-5 fs-3 text-uppercase">{{ heroe.name }}</p>
      </div>
      </div>

    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
