
table{
  padding: 20px;
  border-color: blue;
  border-style:solid ;
  margin-bottom: 20px;
}

.content-container {
  max-height: 450px; /* Establece una altura máxima */
  overflow-y: auto; /* Habilita la barra de desplazamiento vertical si el contenido excede la altura máxima */
}
