<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid" style="background-color: blue;">
    <button class="star-button"></button>
    <a class="navbar-brand" style="align-content: center;" href="#">
      <img src="../../assets/trueno.png" class="reflected-image">
      HEROES
      <img src="../../assets/trueno.png" >
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <button class="star-button"></button>
  </div>
</nav>
