
<!DOCTYPE html>
<html>
<head>
<title>HEROES</title>
</head>
<body style="background-color: grey;">
    <app-navbar></app-navbar>
    <app-carousel></app-carousel>
    <app-card></app-card>

    <form name="input" action="" method="get">
      Nombre: <input placeholder="Nombre Actual" type="text" name="FirstName" size="20"><br>
      Cambio: <input placeholder="Nuevo nombre" type="text" name="Cambio" size="20"><br>
      <!--un ngFor y luego un ngIf para buscar y cambiar el nombre. no se si toca crear un evento o algo asi-->
      <input type="button" value="Inscribirse">
    </form>


  </body>
</html>
